- region_image = "../" + @region.image
%img.container{:src => region_image, :height => 700, margin_top:0}
%br
%br
%h2.text-center 我們的導遊
%h4.text-center 讓他們陪伴您的奇幻之旅
%br
%br
.row
	- @users.each do |user|
		- user_image = "../" + user.image
		.col-md-4
			.panel.panel-primary
				.panel-heading
				%a{:href => user_path(user)}
					%img.img-responsive{:alt => "", :src => "#{user_image}", :style => "height:300px"}
				.panel-footer#panel
					=user.name
				- if logged_in
					.panel-footer#panel
						%a.btn.btn-primary.btn-sm{:href => "#", :role => "button"}
							%span.glyphicon.glyphicon-earphone
							=user.skype
				-else
					.panel-footer#panel
						%a.btn.btn-primary.btn-sm{:href => login_path, :role => "button"}
							%span.glyphicon.glyphicon-earphone
							登入與導遊聯絡
%br
%br