%img.container{:src => "couple-travel.jpg", margin_left:0}/
%br
%br
%br
%a.btn.btn-default.btn-lg{:href => "#", :role => "button"} 如何使用我跟你走
%br
%br
%h2.text-center 找到你的目的地
%h4.text-center 馬上去尋找屬於你的在地導遊
%br
%br
.row
- @regions.each do |region|
	.col-xs-6.col-md-6
		%a.thumbnail{:href => region_path(region)}
			%img{:alt => "", :src => "#{region.image}"}
			%br



