!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 我跟你走
    %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    / %script{:src => "../assets/javascripts/application.js"}
    %link{:href => "/favicon.png", :rel => "shortcut icon", :type => "image/png"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      %img.navbar-nav.navbar-brand{:src =>"../footprint.png"}
      %a.navbar-brand{:href => home_index_path} 我跟你走
      %form.navbar-form.navbar-right
        .form-group
          %input.form-control{:placeholder => "搜尋目的地", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} 搜尋

      %ul.nav.navbar-nav.navbar-right
        -if logged_in
          %li
            %a{:href => logout_path } 登出


        -else
          %li
            %a{:href => new_user_path } 註冊
          %li
            %a{:href => login_path } 登入
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            地區
            %span.caret
          %ul.dropdown-menu
            - @region_names.each do |region|
              %li.text-center
                =link_to region.name, region_path(region)
              %li.divider
  
  .container
    = yield
  %footer
    %nav.navbar.navbar-inverse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "https://www.linkedin.com/in/hank860502"}
            Contact us
        %li
          %a{:href => "https://github.com/Hank860502"}
            %span.glyphicon.glyphicon-copyright-mark
            Han-Yu Chen


